@import url("https://www.photo-visible.com/images-photo/2010/3/800/800_520.jpg");
@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  padding-bottom: 5px;
}


/* 'mobile': '640px',
      // => @media (min-width: 640px) { ... }

      'tablet': '1024px',
      // => @media (min-width: 1024px) { ... }

      'desktop': '1280px',
      // => @media (min-width: 1280px) { ... } */

.home-nav-bar {
  width: 100%;
  height: 160px;
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.top-nav {
  width: 100%;
  height: 60px;
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
}

.postcode-holder {
  display: flex;
  gap: 10px;
}

.postcode-holder > * {
  color: rgb(197, 197, 197);
  font-size: 0.8rem;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.bottom-nav {
  height: 100%;
  width: 100%;
  padding: 20px;
  padding-top: 0px;
}

.logo-holder {
  height: 40%;
  width: auto;
}

.bottom-nav-holder {
  height: 100%;
  width: 100%;
  border: solid white 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: 100%;
  /* padding: 0 5% 0 5%; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center-column {
  background-color: rgba(0, 0, 255, 0);
  width: 100%;
  min-height: 100vh;
  height: auto;
}

.carousel-item {
  background-color: grey;
  aspect-ratio: 1/0.41;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.item-holder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.slide-1 {
  background-image: url(./assets/img/splash_slide_3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-title {
  font-family: "Bebas Neue", cursive;
  font-size: 10rem;
  color: goldenrod;
}

.slide-paragraph {
  color: white;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

.about-us-holder {
  background-color: #efede8;
  height: 380px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
}

.about-us-title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.about-us-para {
  text-align: center;
  font-size: 1.2rem;
}

.services-holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 30px;
  padding: 30px;
  margin: auto;
  background-color: #efede8;
}

.service-card {
  width: 1fr;
  height: 450px;
  background-color: #e4dfd8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  transition: ease-out 0.15s;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.fa-tv {
  font-size: 4rem;
}

.service-card:hover {
  transform: translateY(-20px);
}

.card-para {
  max-width: 80%;
}

.content-holder {
  background-color: rgb(20, 20, 20);
  height: 800px;
  width: 100%;
}

.footer-holder {
  background-color: rgb(20, 20, 20);
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-holder {
  width: 50%;
  height: 100%;
  background-color: rgb(34, 34, 34);
  display: flex;
  padding: 30px;
  padding-left: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 20px;
}

.contact-holder > *{
  font-family: "Poppins", sans-serif;
}

.map-holder {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-holder > * {
  box-sizing: border-box;
}

.contact > * {
  color: white;
}

.contact {
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  border-right: 1px solid rgb(204, 204, 204);
}

.opening-hours > * {
  color: white;
}

.opening-hours {
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  padding-left: 100px;
}

.time-list {
  list-style: none;
}

.social-holder-footer {
  display: flex;
  gap: 30px;
}

.social-holder-footer > * {
  font-size: 2rem;
  color: white;
}

.social-link-icon {
    transition: ease-out .15s;

}

.social-link-icon:hover {
  color: gold;
}

.footer-title {
  margin-bottom: 50px;
  color: goldenrod;
}
/* media queries ------------------------------------ */

@media only screen and (max-width: 750px) {
  .service-card {
    grid-column: span 2;
  }

  .footer-holder {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .contact-holder {
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 20px;
    padding-left: 50px;
    gap: 80px;
  }

  .contact {
    width: 100%;
    border: none;
    padding-bottom: 90px;
    border-bottom: 1px solid white ;
  }

  .opening-hours {
    width: 100%;
    padding: 0px;
  }

   
  .map-holder {
    width: 100%;
    height: 500px;
  }

  .map {
    height: 100%;
  }
}

@media only screen and (max-width: 1300px) {
  .services-holder {
    grid-template-columns: 1fr 1fr;
  }

  .item-1 {
    grid-column: 1 / span 2;
  }

  .footer-holder {
    flex-direction: column;
    height: auto;
  }

  .map-holder {
    width: 100%;
  }

  .contact-holder {
    width: 100%;
    
  }
}
